.main-container {
  display: flex;
  height: 100vh;
  background-color: rgb(132, 133, 134);
}

.error-message {
  display: flex;
  flex: 1 0;
  min-height: 2em;
  color: red;
}
.toggle-edit-container {
  display: flex;
  justify-content: flex-end;
  padding: 1em 0em 1em 0em;
}
/* ------ Tasks ------ */

.task-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0;
  padding: 2em;
}

.task-container {
  display: flex;
  flex: 1 0;
  background-color: lightgray;
  padding: 2em;
  flex-direction: column;
}
.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-list {
  display: flex;
  flex: 1 0;
  background-color: white;
  flex-direction: column;
  border: 1px solid black;
}

.task-filter {
  display: flex;
  padding: 1em 1em 1em 0em;
}

.task-sort {
  display: flex;
  flex-direction: row;
  padding: 1em 0em 1em 1em;
}

.task-add {
  display: flex;
}

.graph-container {
  display: flex;
  background-color: lightgray;
  flex: 1 0;
  padding: 2em;
  flex-direction: column;
}

.graph-selector {
  display: flex;
}

.graph-header {
  display: flex;
  justify-content: space-between;
}

.graph-section {
  display: flex;
  flex: 1 0;
  border: 1px solid black;
  background: white;
}

.task-page-header {
  display: flex;
  justify-content: flex-start;
}

.task-page-content {
  display: flex;
  flex: 1 0;
}

.new-task-name {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}
.new-task-name > input {
  min-height: 2em;
}

.new-task-date {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}
.new-task-date > input {
  min-height: 2em;
}

.new-task-priority {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}
.new-task-priority > select {
  min-height: 2em;
}

.new-task-add {
  display: flex;
  flex-direction: column;
  min-height: 2em;
}
.new-task-add > button {
  min-height: 2em;
}
/* ------ Schedule ------ */

.schedule-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0;
  padding: 2em;
}

.schedule-page-header {
  display: flex;
  justify-content: flex-start;
}

.schedule-page-content {
  display: flex;
  flex: 1 0;
  flex-direction: column;
}

.day-nav {
  display: flex;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.event-container {
  display: flex;
  flex: 1 0;
  background-color: lightgray;
  padding: 2em;
  flex-direction: column;
}

.day {
  display: flex;
  flex: 1 0;
  justify-content: center;
}

.priority-tasks-container {
  display: flex;
  flex: 1 0;
  background-color: lightgray;
  padding: 2em;
}

.schedule-main-content {
  display: flex;
  flex: 1 0;
}

.events {
  display: flex;
  flex: 1 0;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px;
}

.modify-events {
  display: flex;
}

.modify-events > div:first-child {
  flex: 2 0;
}

.modify-event-button {
  flex: 1 0;
  min-height: 2em;
}
.new-event-name {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.new-event-time {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.priority-tasks {
  display: flex;
  flex: 1 0;
  background-color: white;
  border-bottom: 1px solid black;
  flex-direction: column;
  border: 1px solid black;
}

.task-properties {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.priority-task {
  border-bottom: 1px solid black;
  justify-content: space-evenly;
}

.graph {
  display: flex;
  padding: 1em;
  flex: 1 0;
  justify-content: center;
  align-items: center;
}
