.main-container {
  display: flex;
  height: 100vh;
  background-color: rgb(132, 133, 134);
}

/* ------ Tasks ------ */

.task-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0;
  padding: 2em;
}

.task-container {
  display: flex;
  flex: 1 0;
  background-color: lightgray;
  padding: 2em;
  flex-direction: column;
}

.task-list {
  display: flex;
  flex: 1 0;
  background-color: white;
  flex-direction: column;
  border: 1px solid black;
}

.task-filter {
  display: flex;
  padding: 1em 1em 1em 0em;
}

.task-add {
  display: flex;
}

.graph-container {
  display: flex;
  background-color: white;
  flex: 1 0;
  padding: 2em;
  flex-direction: column;
}

.graph-selector {
  display: flex;
}

.graph-header {
  display: flex;
  justify-content: space-between;
}

.graph-section {
  display: flex;
  flex: 1 0;
  border: 1px solid black;
}

.task-page-header {
  display: flex;
  justify-content: flex-start;
}

.task-page-content {
  display: flex;
  flex: 1 0;
}

/* ------ Schedule ------ */

.schedule-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0;
  padding: 2em;
}

.schedule-page-header {
  display: flex;
  justify-content: flex-start;
}

.schedule-page-content {
  display: flex;
  flex: 1 0;
  flex-direction: column;
}

.day-nav {
  display: flex;
  background-color: white;
}

.event-container {
  display: flex;
  flex: 1 0;
  background-color: thistle;
  padding: 2em;
  flex-direction: column;
  border: 1px solid black;
}

.day {
  display: flex;
  flex: 1 0;
  justify-content: center;
}

.priority-tasks-container {
  display: flex;
  flex: 1 0;
  background-color: grey;
  padding: 2em;
}

.schedule-main-content {
  display: flex;
  flex: 1 0;
}

.events {
  display: flex;
  flex: 1 0;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.modify-events {
  display: flex;
  background-color: white;
  border: 1px solid black;
}

.modify-events > div {
  display: flex;
  padding: 0.5em;
  flex: 1 0;
}

.modify-events > div:first-child {
  flex: 2 0;
}

.modify-events > div > * {
  padding: 0.5em;
  flex: 1 0;
  border-radius: 5px;
  border-width: 0.2px;
  border-color: lightgray;
}

.priority-tasks {
  display: flex;
  flex: 1 0;
  background-color: white;
  border-bottom: 1px solid black;
  flex-direction: column;
  border: 1px solid black;
}

.task-properties {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.priority-task {
  border-bottom: 1px solid black;
  justify-content: space-evenly;
}

.graph {
  display: flex;
  padding: 1em;
  flex: 1 0;
  justify-content: center;
  align-items: center;
}
